__pycache__/
*.pyc
.pytest_cache/
.DS_Store
src/*.egg-info/
build/*
!build/model-bundle-pytorch/
!build/model-bundle-pytorch/manifest.json
!build/model-bundle-pytorch/weights/
!build/model-bundle-pytorch/weights/*.pt
